<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    </head>
    <body>
        <div class="header">
            <a href="/" id="home">Home</a>
            <div class="dropdown">
                <a href="#" class="dropbtn">Documentación</a>
                <div class="dropdown-content">
                    <a href="/documentacion/help">Help</a>
                    <a href="/documentacion/configuracion">Configuración</a>
                    <a href="/documentacion/tickets">Configuración Tickets</a>
                </div>
            </div>
            <a href="/privacidad">Privacidad</a>
        </div>
        <div class="content">
            <h3>Funcionando en Flask!</h3>
            <div style="display: flex; justify-content: center; margin-top: 20px;">
                <iframe src="https://discord.com/widget?id=766964835946463232&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
            </div>
        </div>
    </body>
</html>