<!DOCTYPE html>
<html>
    <head>
        <title>Documentación - Configuración</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/documentation.css') }}">
    </head>
    <body>
        <div class="header">
            <a href="/" id="home">Home</a>
            <div class="dropdown">
                <a href="#" class="dropbtn">Documentación</a>
                <div class="dropdown-content">
                    <a href="/documentacion/help">Help</a>
                    <a href="/documentacion/configuracion">Configuración</a>
                    <a href="/documentacion/tickets">Configuración Tickets</a>
                </div>
            </div>
            <a href="/privacidad">Privacidad</a>
        </div>
        <div class="doc-container">
            <h1>Configuración del Bot</h1>
            
            <h2>Comandos disponibles</h2>
            
            <ul>
                <li><code>/config help</code> - Muestra esta ayuda</li>
                <li><code>/config data</code> - Muestra la configuración actual del servidor</li>
                <li><code>/config update</code> - Restablece la configuración a los valores predeterminados</li>
                <li><code>/config cmd</code> - Activa o desactiva comandos específicos</li>
                <li><code>/config logs</code> - Configuración de registros de auditoría</li>
                <li><code>/config perms</code> - Configuración de permisos</li>
                <li><code>/config tickets help</code> - Muestra la ayuda de configuración de los tickets</li>
            </ul>
            
            <h2>Documentación de comandos</h2>
            
            <h3>Config perms</h3>
            
            <p>Ejecución de <code>/config perms</code></p>
            
            <pre><code>/config perms {permiso} {accion} ({roles}/{usuarios})</code></pre>
            
            <ul>
                <li><code>{permiso}</code>: el permiso que se quiere configurar</li>
                <li><code>{accion}</code>: añadir o eliminar el permiso</li>
            </ul>
            
            <p>Al menos uno de estos campos es obligatorio:</p>
            
            <ul>
                <li><code>{roles}</code>: menciona o pon los roles que quieres añadir o eliminar, separados por espacios</li>
                <li><code>{usuarios}</code>: menciona o pon los usuarios que quieres añadir o eliminar, separados por espacios</li>
            </ul>
            
            <h3>Config cmd</h3>
            
            <p>Ejecución de <code>/config cmd</code></p>
            
            <pre><code>/config cmd {comando} {estado}</code></pre>
            
            <ul>
                <li><code>{comando}</code>: el comando que se quiere activar o desactivar</li>
                <li><code>{estado}</code>: activar o desactivar el comando</li>
            </ul>
            
            <h3>Config update</h3>
            
            <p>Ejecución de <code>/config update</code></p>
            
            <pre><code>/config update</code></pre>
            
            <p>Este comando restablece la configuración del servidor a los valores predeterminados.</p>
            
            <h3>Config data</h3>
            
            <p>Ejecución de <code>/config data</code>;</p>
            
            <pre><code>/config data</code></pre>
            
            <p>Este comando muestra la configuración actual del servidor.</p>
            
            <h3>Config logs</h3>
            
            <p>Ejecución de <code>/config logs</code>:</p>
            
            <pre><code>/config logs {log}</code></pre>
            
            <ul>
                <li><code>{log}</code>: el log que se quiere configurar.</li>
            </ul>
            
            <h3>Config tickets help</h3>
            
            <p>Ejecución de <code>/config tickets help</code></p>
            
            <pre><code>/config tickets help</code></pre>
            
            <p>Este comando muestra la ayuda específica para configurar el sistema de tickets.</p>
            
            <h2>Parámetros para mensajes de logs</h2>
            
            <h3>Ban</h3>
            <p><strong>Mensaje y descripción:</strong><br>
            <code>{userid}</code> | <code>{usertag}</code> | <code>{mod}</code> | <code>{modid}</code> | <code>{modtag}</code> | <code>{reason}</code></p>
            
            <p><strong>Footer:</strong><br>
            <code>{userid}</code> | <code>{usertag}</code> | <code>{modid}</code> | <code>{modtag}</code></p>
            
            <h3>Kick</h3>
            <p><strong>Mensaje y descripción:</strong><br>
            <code>{userid}</code> | <code>{usertag}</code> | <code>{mod}</code> | <code>{modid}</code> | <code>{modtag}</code> | <code>{reason}</code></p>
            
            <p><strong>Footer:</strong><br>
            <code>{userid}</code> | <code>{usertag}</code> | <code>{modid}</code> | <code>{modtag}</code></p>
            
            <h3>Unban</h3>
            <p><strong>Mensaje y descripción:</strong><br>
            <code>{userid}</code> | <code>{usertag}</code> | <code>{mod}</code> | <code>{modid}</code> | <code>{modtag}</code></p>
            
            <p><strong>Footer:</strong><br>
            <code>{userid}</code> | <code>{usertag}</code> | <code>{modid}</code> | <code>{modtag}</code></p>
            
            <h3>Entradas</h3>
            <p><strong>Mensaje y descripción:</strong><br>
            <code>{userid}</code> | <code>{usertag}</code> | <code>{user}</code> | <code>{accage}</code> | <code>{acc_age}</code></p>
            
            <p><strong>Footer:</strong><br>
            <code>{userid}</code> | <code>{usertag}</code> | <code>{user}</code></p>
            
            <h3>Salidas</h3>
            <p><strong>Mensaje y descripción:</strong><br>
            <code>{userid}</code> | <code>{usertag}</code> | <code>{acc_age}</code> | <code>{server_age}</code></p>
            
            <p><strong>Footer:</strong><br>
            <code>{userid}</code> | <code>{usertag}</code></p>
            
            <h3>Mensajes eliminados</h3>
            <p><strong>Mensaje y descripción:</strong><br>
            <code>{del_msg}</code> | <code>{usertag}</code> | <code>{userid}</code> | <code>{user}</code> | <code>{channel}</code> | <code>{channelid}</code> | <code>{attached}</code></p>
            
            <p><strong>Footer:</strong><br>
            <code>{usertag}</code> | <code>{userid}</code> | <code>{channelid}</code></p>
            
            <h3>Mensajes editados</h3>
            <p><strong>Mensaje y descripción:</strong><br>
            <code>{usertag}</code> | <code>{userid}</code> | <code>{user}</code> | <code>{channel}</code> | <code>{channelid}</code> | <code>{old_msg}</code> | <code>{new_msg}</code> | <code>{attached}</code></p>
            
            <p><strong>Footer:</strong><br>
            <code>{usertag}</code> | <code>{userid}</code> | <code>{channelid}</code></p>
            
            <h3>Warns</h3>
            <p><strong>Mensaje y descripción:</strong><br>
            <code>{userid}</code> | <code>{usertag}</code> | <code>{mod}</code> | <code>{modid}</code> | <code>{modtag}</code> | <code>{reason}</code> | <code>{user}</code></p>
            
            <p><strong>Footer:</strong><br>
            <code>{userid}</code> | <code>{usertag}</code> | <code>{modid}</code> | <code>{modtag}</code></p>
            
            <h3>Unwarns</h3>
            <p><strong>Mensaje y descripción:</strong><br>
            <code>{userid}</code> | <code>{usertag}</code> | <code>{mod}</code> | <code>{modid}</code> | <code>{modtag}</code> | <code>{reason}</code> | <code>{user}</code></p>
            
            <p><strong>Footer:</strong><br>
            <code>{userid}</code> | <code>{usertag}</code> | <code>{modid}</code> | <code>{modtag}</code></p>
            
            <h3>Entrada a canales de voz</h3>
            <p><strong>Mensaje y descripción:</strong><br>
            <code>{user}</code> | <code>{usertag}</code> | <code>{userid}</code> | <code>{channel}</code> | <code>{channelid}</code></p>
            
            <p><strong>Footer:</strong><br>
            <code>{usertag}</code> | <code>{userid}</code> | <code>{channelid}</code></p>
            
            <h3>Salida de canales de voz</h3>
            <p><strong>Mensaje y descripción:</strong><br>
            <code>{user}</code> | <code>{usertag}</code> | <code>{userid}</code> | <code>{channel}</code> | <code>{channelid}</code></p>
            
            <p><strong>Footer:</strong><br>
            <code>{usertag}</code> | <code>{userid}</code> | <code>{channelid}</code></p>
            
            <h3>Roles añadidos a usuarios</h3>
            <p><strong>Mensaje y descripción:</strong><br>
            <code>{user}</code> | <code>{usertag}</code> | <code>{userid}</code> | <code>{role}</code> | <code>{roleid}</code></p>
            
            <p><strong>Footer:</strong><br>
            <code>{usertag}</code> | <code>{userid}</code> | <code>{roleid}</code></p>
            
            <h3>Roles removidos de usuarios</h3>
            <p><strong>Mensaje y descripción:</strong><br>
            <code>{user}</code> | <code>{usertag}</code> | <code>{userid}</code> | <code>{role}</code> | <code>{roleid}</code></p>
            
            <p><strong>Footer:</strong><br>
            <code>{usertag}</code> | <code>{userid}</code> | <code>{roleid}</code></p>
            
            <h3>Canales creados</h3>
            <p><strong>Mensaje y descripción:</strong><br>
            <code>{channel}</code> | <code>{channelid}</code> | <code>{category}</code></p>
            
            <p><strong>Footer:</strong><br>
            <code>{channelid}</code></p>
            
            <h3>Canales eliminados</h3>
            <p><strong>Mensaje y descripción:</strong><br>
            <code>{channel}</code> | <code>{channelid}</code> | <code>{category}</code></p>
            
            <p><strong>Footer:</strong><br>
            <code>{channelid}</code></p>
            
            <h3>Actualización de avatar o nombre</h3>
            <p><strong>Mensaje y descripción:</strong><br>
            <code>{user}</code> | <code>{usertag}</code> | <code>{userid}</code> | <code>{old_avatar_link}</code> | <code>{new_avatar_link}</code> | <code>{old_name}</code> | <code>{new_name}</code></p>
            
            <p><strong>Footer:</strong><br>
            <code>{usertag}</code> | <code>{userid}</code></p>
            
            <h2>Explicación de parámetros</h2>
            
            <ul>
                <li><code>{reason}</code>: razón de la sanción</li>
                <li><code>{user}</code>: mención del usuario sancionado, que borra o edita el mensaje o que entra al servidor</li>
                <li><code>{userid}</code>: id del usuario sancionado, que borra o edita el mensaje o que entra al servidor</li>
                <li><code>{usertag}</code>: nombre de usuario normal del usuario sancionado, que borra o edita el mensaje o que entra al servidor</li>
                <li><code>{mod}</code>: mención del mod que sanciona</li>
                <li><code>{modid}</code>: id del mod que sanciona</li>
                <li><code>{modtag}</code>: nombre de usuario normal del mod que sanciona</li>
                <li><code>{channel}</code>: mención del canal</li>
                <li><code>{channelid}</code>: id del canal</li>
                <li><code>{del_msg}</code>: contenido del mensaje eliminado</li>
                <li><code>{old_msg}</code>: contenido anterior del mensaje editado</li>
                <li><code>{new_msg}</code>: contenido del nuevo mensaje editado</li>
                <li><code>{attached}</code>: contenido de archivos adjuntos en caso de haberlos</li>
                <li><code>{acc_age}</code>: edad de la cuenta de Discord</li>
                <li><code>{server_age}</code>: tiempo que lleva el usuario en el servidor</li>
                <li><code>{\n}</code>: para representar el salto de línea en los logs</li>
                <li><code>{role}</code>: mención del rol que se añade o quita</li>
                <li><code>{roleid}</code>: id del rol que se añade o quita</li>
                <li><code>{category}</code>: nombre de la categoría del canal (o "sin categoría")</li>
                <li><code>{old_avatar_link}</code>: link del antiguo avatar del usuario, formato [antiguo avatar](link)</li>
                <li><code>{new_avatar_link}</code>: link del nuevo avatar del usuario, formato [nuevo avatar](link)</li>
                <li><code>{old_name}</code>: antiguo nombre del usuario (o "el nombre no cambió")</li>
                <li><code>{new_name}</code>: nuevo nombre del usuario (o "el nombre no cambió")</li>
            </ul>
        </div>
    </body>
</html>